<nav id="navbar">
  <a id="step1" routerLink="model-selection" class="navbar__item">Step 1</a>
  <a
    id="step2"
    [class.disabled]="!configuratorService.isModelSelected()"
    [routerLink]="
      configuratorService.isModelSelected() ? 'options-selection' : null
    "
    class="navbar__item"
  >
    Step 2
  </a>
  <a
    [class.disabled]="!configuratorService.isConfigSelected()"
    [routerLink]="configuratorService.isConfigSelected() ? 'summary' : null"
    id="step3"
    routerLink="summary"
    class="navbar__item"
  >
    Step 3
  </a>
</nav>
