<section id="model-selection__inputs">
  <h1>Step 1: Choose your Model and color</h1>

  <app-select
    [selectOptions]="modelSelectOptions"
    [ngModel]="configuratorService.carModelCode()"
    (ngModelChange)="carModelSelectionChange($event)"
  />

  @if (configuratorService.carModelCode()) {
    <app-select
      [selectOptions]="colorSelectOptions"
      [emptyOption]="false"
      [ngModel]="configuratorService.carColorCode()"
      (ngModelChange)="configuratorService.carColorCode.set($event)"
    />
  }
</section>

@if (configuratorService.carImageSrc()) {
  <section id="model-selection__image">
    <app-image-container
      [imageSrc]="configuratorService.carImageSrc()"
      [height]="576"
      [width]="1024"
      [alt]="'photo of the selected car model'"
    />
  </section>
}
