<section id="model-selection__inputs">
  <h1>Step 1: Choose your Model and color</h1>
  <label for="modelSelect">Model:</label>
  <select
    id="modelSelect"
    [ngModel]="configuratorService.carModelCode()"
    (ngModelChange)="carModelSelectionChange($event)"
  >
    <option value="">Choose...</option>

    @for (carModel of configuratorService.allCarModels(); track carModel.code) {
      <option [value]="carModel.code">{{ carModel.description }}</option>
    }
  </select>

  @if (configuratorService.carModelCode()) {
    <label for="colorSelect">Color:</label>
    <select
      id="colorSelect"
      [ngModel]="configuratorService.carColorCode()"
      (ngModelChange)="configuratorService.carColorCode.set($event)"
    >
      @for (carColor of carColors(); track carColor.code) {
        <option [value]="carColor.code">
          {{ carColor.description }}
        </option>
      }
    </select>
  }
</section>

@if (configuratorService.carImageSrc()) {
  <section id="model-selection__image">
    <img
      [ngSrc]="configuratorService.carImageSrc()"
      priority
      height="576"
      width="1024"
      alt="photo of the selected car model"
    />
  </section>
}
