<section id="summary">
  <hgroup>
    <h1>Step 3: Summary</h1>
    <p class="subtitle" data-cy="summary-model-description">
      Your Tesla {{ configuratorService.selectedModel().description }}
    </p>
  </hgroup>

  <div id="summary-table">
    <div class="summary-table__line">
      <div class="summary-table__line--description">
        <p data-cy="summary-selected-config-description">
          {{ configuratorService.selectedConfig().description }}
        </p>
      </div>
      <div class="summary-table__line--value">
        <p data-cy="summary-selected-config-price">
          {{ configuratorService.selectedConfig().price | currency: "USD" }}
        </p>
      </div>
    </div>

    <div class="summary-table__line" data-cy="">
      <p data-cy="summary-config-description">{{ configDescription() }}</p>
    </div>

    <div class="summary-table__line">
      <div class="summary-table__line--description">
        <p data-cy="summary-selected-color-description">
          {{ selectedColor().description }}
        </p>
      </div>
      <div class="summary-table__line--value">
        <p data-cy="summary-selected-color-price">
          {{ selectedColor().price | currency: "USD" }}
        </p>
      </div>
    </div>

    @if (configuratorService.towHitch()) {
      <div class="summary-table__line" data-cy="summary-tow">
        <div class="summary-table__line--description">
          <p>Tow Hitch Package</p>
        </div>
        <div class="summary-table__line--value">
          <p>$1,000.00</p>
        </div>
      </div>
    }

    @if (configuratorService.yokeSteering()) {
      <div class="summary-table__line" data-cy="summary-yoke">
        <div class="summary-table__line--description">
          <p>Yoke Steering Package</p>
        </div>
        <div class="summary-table__line--value">
          <p>$1,000.00</p>
        </div>
      </div>
    }

    <hr />

    <div class="summary-table__line">
      <div class="summary-table__line--description">
        <p>TOTAL COST</p>
      </div>
      <div class="summary-table__line--value">
        <p data-cy="summary-total">
          {{ totalCost() | currency: "USD" }}
        </p>
      </div>
    </div>

    <hr />
  </div>
</section>
