/* You can add global styles to this file, and also import other style files */
@import "../node_modules/mini.css/dist/mini-dark.min.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.clickable {
  cursor: pointer;

  & > * {
    cursor: pointer;
  }
}

#fullscreen-page-container {
  position: absolute;
  left: 0;
  top: 0;

  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    cursor: pointer;
    text-decoration: underline;
  }
}
